/* CSS for KMap search tool */

		 body { 			font-family: Verdana,Geneva,sans-serif; font-size:11px; box-sizing: border-box;
							padding: 0px; margin: 0px; 
							}
		.ks-is {			border-radius: 12px; padding-left: 8px; padding-right: 8px; padding-top: 3px; padding-bottom: 2px;
							border: 1px solid #ccc;font-size:12px; color: #666;
							}
		.ks-bs {			border-radius: 16px; padding-left: 8px; padding-right: 8px; padding-top: 4px; display: inline-block;
							font-size: 12px; background-color: #999; cursor: pointer; text-align: center; color:#fff; height: 20px;
							}
		.ks-greenbs {		border-radius: 16px; padding-left: 8px; padding-right: 8px; padding-top: 4px; display: inline-block;
							font-size: 12px; background-color: #27ae60; cursor: pointer; text-align: center; color:#fff; height: 20px;
							}
		.ks-popup {			display: none; position: absolute; padding: 3px 8px 3px 8px; border-radius: 6px; display: inline-block;
							font-size: 11px; border: 1px solid #e74c3c; background-color: #eee;
							}
		.ks-dialog {		font-size: 20px; font-weight: bold; color: #000; margin-bottom: 8px; user-select: none;
							}
		.ks-dialogLabel {	font-size: 18px; text-shadow: 1px 1px #ccc; color:#666; font-weight: bold;
							}
		.ks-dialogTitle {	font-weight: bold; color: #000; padding-left: 8px; padding-right: 8px;
							}
		.ks-dialogDoneBut {	cursor: pointer; float: right;
							} 
		.ks-dialogResults { width: 100%px; height: 350px; overflow-y: auto; border-radius: 6px;
							background-color :#f8f8f8; padding: 8px; border: 1px solid #999;
							}
		.ks-prevDiv {		border-radius:6px; background-color:#eee; border: 1px solid #999; box-shadow: 4px 4px 8px #ccc;
							position: absolute; padding: 0px; padding-top: 0px;  overflow-x:hidden; overflow-y: auto; z-index: 10000;
							}
		.ks-prevId {		font-size: 14px; color: #666; font-weight: bold; padding-left: 8px; padding-right: 8px;
							}
		.ks-listItem {		height: 20px; cursor: pointer; background-color: #f8f8f8;
							}
		.ks-listItem:hover{ background-color: #dee7f1;
							}
		.ks-gridItem {		color: #666; padding: 8px;  border: 1px solid #999; margin-right: 8px; margin-bottom: 8px; display: inline-block;
							width: 183px; height: 150px; cursor: pointer;
							}
		.unselectable { 	-moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -ms-user-select: none;  user-select: none;	
							}

		.ui-dialog { 		border-radius:14px; background-color:#eee; box-shadow:4px 4px 8px #ccc }
		.ui-button {		border-radius:30px; outline: none }
		.ui-dialog-titlebar { display:none }
		.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix { border: none }
		 table {			border-spacing: 0px;  }
		 input {		    vertical-align: -2px; }
