body { 				font-family: Verdana,Geneva,sans-serif,shanticon; font-size: 14px; box-sizing: border-box; padding: 0px; margin: 0px; 
					}
.sui-top {			position: absolute; left:calc(100% - 500px); top:0; height:42px; width:500px; user-select: none;
					}
.sui-search1 {		position: absolute; background-color:#fafafa; font-size:16px; color: #ccc;
					border-radius: 16px 0 0 16px; border-left: 1px solid #999; border-top: 1px solid #999; border-bottom: 1px solid #999;
					height:22px; width:236px; top:6px; padding: 6px 8px 0 8px; 
					}
.sui-search2 {		position:absolute; background-color:#fafafa; font-size:14px; color:#888; top:4px; left:34px; height:18px; width:185px; 
					outline:none; border-radius:0; border:0; appearance: none; -webkit-appearance: none; box-shadow: none !important;
					}
.sui-search3 {		float:right; font-size:16px; color: #ccc; cursor:pointer;
					}
.sui-search4 {		position:absolute; background-color: #ddd; font-size:18px; color: #999; border-radius: 0 16px 16px 0; border: 1px solid #999;
					height:23px; width:24px; padding:5px 0 0 4px; cursor:pointer; top:6px; left:252px;
					} 	.sui-search4:hover{ opacity:.66; }
.sui-search5 {		position:absolute; cursor:pointer; top:6px; left:294px;
					}	.sui-search5:hover{ opacity:.66; }

.sui-main {			position: absolute; left:0; top:0; 
					}
.sui-header {		position: absolute; left:0; top:0; height:52px; width:100%; user-select: none; background-color: #aaa; color:#fff; 
					}
.sui-headLeft {		width:calc(100% - 400px); user-select:none; height:100%; float:left; padding:12px; font-size: 20px;
					}				
.sui-headRight { 	float:right; user-select:none; height:100%; padding:0; margin: 10px 10px 0 0;
					}	
.sui-type {			background-color:#fff; font-size:12px; color:#666; border-radius:8px; display:inline-block; width:200px; 
					}	
.sui-typeIcon {		display:inline-block; border-radius:8px 0 0 8px; width:25px; height:20px; padding:6px; 
					text-align:center; font-size:18px; color:#fff; background-color:#5b66cb; margin-right:8px;
					vertical-align: -2px;	
					}
.sui-typeSet {		float:right; border-radius:0 8px 8px 0; width:20px; height:26px; padding-top:6px;
					text-align:center; font-size:18px; color:#666;	background-color:#ddd; cursor:pointer; 
					} 	.sui-typeSet:hover{ opacity:.66; }
.sui-typeList {		position: absolute; left:calc(100% - 174px); top:42px; background-color:#fff; font-size:12px; 
					color:#666; border-radius:0 0 8px 8px; display:inline-block; width:119px; cursor: pointer; 
					border: 1px solid #999; padding:12px; border: 1px solid #999; padding:12px; 
					}	
.sui-left { 		position: absolute; left:0; top:52px; width:100%; height:calc(100% - 52px); background-color: #fff; display:none;
					}				
.sui-results { 		position: absolute; left:0; top:0; width:100%; height:calc(100% - 30px);  background-color: eee; 
					}				
.sui-footer { 		position: absolute; left:0; top:calc(100% - 30px); width:100%; height:24px; background-color: #aaa;	
					color:#fff; text-align:center; padding-top:6px; user-select: none;
					}				
.sui-right { 		position: absolute; left:100%; top:0; height:calc(100% - 2px); width: 346px; background-color: #eee; display:none;
					border-left:2px solid #aaa; border-right:2px solid #aaa; border-bottom:2px solid #aaa;
					}				
.sui-resClose {		cursor:pointer; margin: 0 15px 0 15px;
					}	.sui-resclose:hover{ opacity:.66; }
	
.sui-resDisplay {	cursor:pointer; display: inline-block; margin:0 12px; 
					}

			
@font-face {		font-family: 'shanticon'; src: url('shanticon.ttf?ueun15') format('truetype'); font-weight: normal; font-style: normal;
					}

::-webkit-input-placeholder { color: #bbb };	::-placeholder { color: #bbb };
