body { 				font-family: Verdana,Geneva,sans-serif; font-size: 11px; box-sizing: border-box; padding: 0px; margin: 0px; 
					}
.sui-main {			position: absolute; left:0; top:0; pointer-events: none;
					}
.sui-header {		position: absolute; left:0; top:0; height:52px; width:100%; user-select: none;
					}
.sui-headLeft {		width:calc(100% - 300px); user-select:none; height:100%; float:left; display:none;
					}				
.sui-headRight { 	width:300px; user-select:none; height:100%; float:right;  
					}				
.sui-left { 		position: absolute; left:0; top:52px; width:100%; height:calc(100% - 52px); background-color: #fff; display:none;
					}				
.sui-results { 		position: absolute; left:0; top:0; width:100%; height:calc(100% - 30px);  background-color: eee;
					}				
.sui-footer { 		position: absolute; left:0; top:calc(100% - 30px); width:100%; height:30px; background-color: #ccc;
					}				
.sui-right { 		position: absolute; left:100%; top:0; height:100%; width: 300px; background-color: #f8f8f8; display:none;
					}				
